span{
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  display: block;
}


textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  outline: none;
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 2rem;
}
textarea::-webkit-scrollbar {
  display: none;
}
